/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

#list-home-page {
  list-style: none;

  li{

    margin: 20px 0;

    img {
      width: 100%;
    }
  }
}

.home {
  margin-top: 20px;
  padding-left:20px;
}
.home img{
  width:100%;

}


#map {
  left:40px;
}

