/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

#list-home-page {
  list-style: none;

  li{

    margin: 20px 0;

    img {
      width: 250px;
    }
  }
}

