body.pages.orders {

  .card{
    overflow-y: scroll; height:400px;
  }

  h1 {
    text-align: center;
  }
  // .card-user {
  //   position: absolute;
  //   right: 10px;
  //   top: 10px;
  // }
  // .card-category {
  //   position: absolute;
  //   top: 10px;
  //   left: 10px;
  //   font-size: 25px;
  // }
  .card-description {
    display:flex;
    // align-items:center;
    margin:0 auto;

  }

  .card-description {
    h2{
     font-size: 60px;
     color: white;
     // position: absolute;
     // top: 10px;
    }

  }

  .card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index:2;
    background: black;
    opacity: 0;
  }
  .card-link:hover{
    opacity: 0.1;
  }


  .orders-table {
    width: 100%;

  }
  .orders-table td{
    padding:10px;
  }
  .orders-table tr{
    padding:10px;
  }
  .orders-table th{
    padding:10px;
  }
}
