  .user-table td{
    padding:20px;
  }
  .user-table th{
    padding:20px;
  }
i{
  text-align: center;
}

.user-table td{
  padding:20px;
}
.user-table th{
  padding:20px;
}
i{
  text-align: center;
}
.user-order-status{
}
.user-order-status td{
  padding:20px;
  border:1px;
  border-style: solid;
}
.user-order-status th{
  padding:20px;
}
.manager-filter{
  margin:20px 0 10px 0;
}
