  .user-table td{
    padding:20px;
  }
  .user-table th{
    padding:20px;
  }
.manager-dropdown {
  margin:10px 0;
}

[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 100%;
}

td i {
    text-align:center;
}
