<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-offset-3 col-md-8">
    <h1>Your Orders</h1>
      <table class="user-order-status">
          <tr>
            <th>
              <b>Address</b>
            </th>
            <th>
              <b>Bill</b>
            </th>
            <th>
              <b>Status</b>
            </th>
          </tr>
        <% @orders.each do |order| %>
          <tr>
            <td><%= link_to order.address.street,user_order_path(current_user,order) %></td>
            <td>$<%= order.bill %></td>
            <td><%= order.status %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>


