<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-offset-3 col-md-6">
      <h4><b>Address : </b></h4><%= "#{@order.address.state}, #{@order.address.city}, #{@order.address.street}, #{@order.address.apartment}" %>
      <h4><b>Bill : </b></h4><%= "#{@order.bill} YEN" %>

      <h4><b>Items :</b></h4>
      <ol>
        <% @order.items.each do |item| %>
          <li><%= "#{item.name}, #{item.category}, #{item.price}" %></li>
        <% end %>
      </ol>
      <%= link_to "Back", user_orders_path(current_user), class: "btn btn-danger" %>
    </div>
  </div>
</div>
