<div class="container">
  <div class="row">

    <div class="col-xs-12 col-md-6">
    <h1>New Order</h1>
      <div class="card" style="background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8))">
        <table border="1" border-color="white"class="orders-table">
          <tr>
            <th>Order #</th>
            <th>Costomer #</th>
            <th>Costomer Name</th>
          </tr>
          <tr>
            <td>102873764723</td>
            <td>877893</td>
            <td>Jill Smith</td>
          </tr>
          <tr>
            <td>087768765344</td>
            <td>762534</td>
            <td>Eve Jackson</td>
          </tr>
          <tr>
            <td>987654345608</td>
            <td>798467</td>
            <td>John Doe</td>
          </tr>
          <tr>
            <td>102873764723</td>
            <td>877893</td>
            <td>Jill Smith</td>
          </tr>
          <tr>
            <td>087768765344</td>
            <td>762534</td>
            <td>Eve Jackson</td>
          </tr>
          <tr>
            <td>987654345608</td>
            <td>798467</td>
            <td>John Doe</td>
          </tr>
          <tr>
            <td>102873764723</td>
            <td>877893</td>
            <td>Jill Smith</td>
          </tr>
          <tr>
            <td>087768765344</td>
            <td>762534</td>
            <td>Eve Jackson</td>
          </tr>
          <tr>
            <td>987654345608</td>
            <td>798467</td>
            <td>John Doe</td>
          </tr>
          <tr>
            <td>102873764723</td>
            <td>877893</td>
            <td>Jill Smith</td>
          </tr>
          <tr>
            <td>087768765344</td>
            <td>762534</td>
            <td>Eve Jackson</td>
          </tr>
          <tr>
            <td>987654345608</td>
            <td>798467</td>
            <td>John Doe</td>
          </tr>
          <tr>
            <td>102873764723</td>
            <td>877893</td>
            <td>Jill Smith</td>
          </tr>
          <tr>
            <td>087768765344</td>
            <td>762534</td>
            <td>Eve Jackson</td>
          </tr>
          <tr>
            <td>987654345608</td>
            <td>798467</td>
            <td>John Doe</td>
          </tr>
          <tr>
            <td>102873764723</td>
            <td>877893</td>
            <td>Jill Smith</td>
          </tr>
          <tr>
            <td>087768765344</td>
            <td>762534</td>
            <td>Eve Jackson</td>
          </tr>

        </table>
        </div>
      </div>

       <div class="col-xs-12 col-md-6">
       <h1>In Process</h1>
      <div class="card" style="background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8))">
      <table border="1" border-color="white"class="orders-table">
          <tr>
            <th>Order #</th>
            <th>Costomer Name</th>
            <th>Status</th>
          </tr>
          <tr>
            <td>102873764723</td>
            <td>Jill Smith</td>
            <td>In preparation</td>
          </tr>
          <tr>
            <td>087768765344</td>
            <td>Eve Jackson</td>
            <td>In preparation</td>
          </tr>
          <tr>
            <td>987654345608</td>
            <td>John Doe</td>
            <td>In preparation</td>
          </tr>
          <tr>
            <td>102873764723</td>
            <td>Jill Smith</td>
            <td>Delivering</td>
          </tr>
          <tr>
            <td>087768765344</td>
            <td>Eve Jackson</td>
            <td>Delivering</td>
          </tr>
          <tr>
            <td>987654345608</td>
            <td>John Doe</td>
            <td>Delivering</td>
          </tr>

        </table>
        </div>
      </div>



    <div class="col-xs-12 col-md-12">
    <h1>Completed</h1>
      <div class="card" style="background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8))">
      <table border="1" border-color="white"class="orders-table">
          <tr>
            <th>Order #</th>
            <th>Costomer #</th>
            <th>Costomer Name</th>
            <th>Address</th>
            <th>Status</th>
          </tr>
          <tr>
            <td>102873764723</td>
            <td>877893</td>
            <td>Jill Smith</td>
            <td>1 141-0021, 4 Chome-２ Kamiōsaki, Shinagawa-ku, Tōkyō-to 141-0021</td>
            <td>Completed</td>
          </tr>
          <tr>
            <td>087768765344</td>
            <td>762534</td>
            <td>Eve Jackson</td>
            <td>Tōkyō-to, Shinagawa-ku, Kamiōsaki, 2 Chome−２１−７</td>
            <td>Canceled</td>
          </tr>
          <tr>
            <td>987654345608</td>
            <td>798467</td>
            <td>John Doe</td>
            <td>Tōkyō-to, Minato-ku, Toranomon, 2 Chome−１０−１</td>
            <td>Completed</td>
          </tr>
           <tr>
            <td>102873764723</td>
            <td>877893</td>
            <td>Jill Smith</td>
            <td>1 141-0021, 4 Chome-２ Kamiōsaki, Shinagawa-ku, Tōkyō-to 141-0021</td>
            <td>Completed</td>
          </tr>
          <tr>
            <td>087768765344</td>
            <td>762534</td>
            <td>Eve Jackson</td>
            <td>Tōkyō-to, Shinagawa-ku, Kamiōsaki, 2 Chome−２１−７</td>
            <td>Canceled</td>
          </tr>
          <tr>
            <td>987654345608</td>
            <td>798467</td>
            <td>John Doe</td>
            <td>Tōkyō-to, Minato-ku, Toranomon, 2 Chome−１０−１</td>
            <td>Completed</td>
          </tr>
          <tr>
            <td>102873764723</td>
            <td>877893</td>
            <td>Jill Smith</td>
            <td>1 141-0021, 4 Chome-２ Kamiōsaki, Shinagawa-ku, Tōkyō-to 141-0021</td>
            <td>Completed</td>
          </tr>
          <tr>
            <td>087768765344</td>
            <td>762534</td>
            <td>Eve Jackson</td>
            <td>Tōkyō-to, Shinagawa-ku, Kamiōsaki, 2 Chome−２１−７</td>
            <td>Canceled</td>
          </tr>
          <tr>
            <td>987654345608</td>
            <td>798467</td>
            <td>John Doe</td>
            <td>Tōkyō-to, Minato-ku, Toranomon, 2 Chome−１０−１</td>
            <td>Completed</td>
          </tr>
           <tr>
            <td>102873764723</td>
            <td>877893</td>
            <td>Jill Smith</td>
            <td>1 141-0021, 4 Chome-２ Kamiōsaki, Shinagawa-ku, Tōkyō-to 141-0021</td>
            <td>Completed</td>
          </tr>
          <tr>
            <td>087768765344</td>
            <td>762534</td>
            <td>Eve Jackson</td>
            <td>Tōkyō-to, Shinagawa-ku, Kamiōsaki, 2 Chome−２１−７</td>
            <td>Canceled</td>
          </tr>
          <tr>
            <td>987654345608</td>
            <td>798467</td>
            <td>John Doe</td>
            <td>Tōkyō-to, Minato-ku, Toranomon, 2 Chome−１０−１</td>
            <td>Completed</td>
          </tr>
          <tr>
            <td>102873764723</td>
            <td>877893</td>
            <td>Jill Smith</td>
            <td>1 141-0021, 4 Chome-２ Kamiōsaki, Shinagawa-ku, Tōkyō-to 141-0021</td>
            <td>Completed</td>
          </tr>
          <tr>
            <td>087768765344</td>
            <td>762534</td>
            <td>Eve Jackson</td>
            <td>Tōkyō-to, Shinagawa-ku, Kamiōsaki, 2 Chome−２１−７</td>
            <td>Canceled</td>
          </tr>
          <tr>
            <td>987654345608</td>
            <td>798467</td>
            <td>John Doe</td>
            <td>Tōkyō-to, Minato-ku, Toranomon, 2 Chome−１０−１</td>
            <td>Completed</td>
          </tr>
           <tr>
            <td>102873764723</td>
            <td>877893</td>
            <td>Jill Smith</td>
            <td>1 141-0021, 4 Chome-２ Kamiōsaki, Shinagawa-ku, Tōkyō-to 141-0021</td>
            <td>Completed</td>
          </tr>
          <tr>
            <td>087768765344</td>
            <td>762534</td>
            <td>Eve Jackson</td>
            <td>Tōkyō-to, Shinagawa-ku, Kamiōsaki, 2 Chome−２１−７</td>
            <td>Canceled</td>
          </tr>
          <tr>
            <td>987654345608</td>
            <td>798467</td>
            <td>John Doe</td>
            <td>Tōkyō-to, Minato-ku, Toranomon, 2 Chome−１０−１</td>
            <td>Completed</td>
          </tr>
          <tr>
            <td>102873764723</td>
            <td>877893</td>
            <td>Jill Smith</td>
            <td>1 141-0021, 4 Chome-２ Kamiōsaki, Shinagawa-ku, Tōkyō-to 141-0021</td>
            <td>Completed</td>
          </tr>
          <tr>
            <td>087768765344</td>
            <td>762534</td>
            <td>Eve Jackson</td>
            <td>Tōkyō-to, Shinagawa-ku, Kamiōsaki, 2 Chome−２１−７</td>
            <td>Canceled</td>
          </tr>
          <tr>
            <td>987654345608</td>
            <td>798467</td>
            <td>John Doe</td>
            <td>Tōkyō-to, Minato-ku, Toranomon, 2 Chome−１０−１</td>
            <td>Completed</td>
          </tr>
           <tr>
            <td>102873764723</td>
            <td>877893</td>
            <td>Jill Smith</td>
            <td>1 141-0021, 4 Chome-２ Kamiōsaki, Shinagawa-ku, Tōkyō-to 141-0021</td>
            <td>Completed</td>
          </tr>
          <tr>
            <td>087768765344</td>
            <td>762534</td>
            <td>Eve Jackson</td>
            <td>Tōkyō-to, Shinagawa-ku, Kamiōsaki, 2 Chome−２１−７</td>
            <td>Canceled</td>
          </tr>
          <tr>
            <td>987654345608</td>
            <td>798467</td>
            <td>John Doe</td>
            <td>Tōkyō-to, Minato-ku, Toranomon, 2 Chome−１０−１</td>
            <td>Completed</td>
          </tr>





          </table>
        </div>
      </div>


  </div>
</div>
